.bannerContainer {
  height: 600px;
  display: flex;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
}


.lineToButton {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow-x: auto;
}